<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="list">
        <p>items: [{
            Title: Apple,
            Description: Fruit,
            price: 100Rs
        }
        <br>
        {
            Title: Banana,
            Description: Fruit,
            price: 120Rs
        }
        <br>
        {
            Title: Mango,
            Description: Fruit,
            price: 150Rs
        }
        ]

        </p>
    </div>
       
</body>
</html>