<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="/register", method="POST">
        <label class="UN" for="name">UserName</label>
        <input type="text" name="username">
        <br>
        <label class="PS" for="password">password</label>
        <input type="password" name="password">
        <br>
        <label class="MN" for="mobile-number">mobile-number</label>
        <input type="number" name="mobile-no">
        <br>
        <a class="btn" href="/list" role="button">submit</a>
    
    </form>
</body>
</html>